# ------------------------------------
# Конфиденциальные данные
# ------------------------------------
.env

# ------------------------------------
# Python / Virtual Environment
# ------------------------------------
# Виртуальное окружение
venv/
__pycache__/
*.pyc
# Логи
*.log